<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151525836410-1ggjp5crap48m2i1ohlc4kq4gdtbaifo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151525836410-1ggjp5crap48m2i1ohlc4kq4gdtbaifo</string>
	<key>API_KEY</key>
	<string>AIzaSyDPS0o3YZDE5i4EFPxh1R-Mll8WCVYblFM</string>
	<key>GCM_SENDER_ID</key>
	<string>151525836410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.figureCollectionsMaps</string>
	<key>PROJECT_ID</key>
	<string>maps-1a75c</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-1a75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151525836410:ios:797bd9f0c473e682d5ddc3</string>
</dict>
</plist>